html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.content {
  height: 100%;
}
.canvas {
  height: 100%;
}
.body-div{
  width: 100%;
  height: 100%;
}
.toolhide
{
  display:none;
}
.body-content
{
  height: 100%;
}